<style>
.highcharts-axis-title{
    font-size: 18px;
}
#{{ model }}-chart-container {
    min-height: 400px;
    max-height: 1000px;
}

.highcharts-data-table table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    min-width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 0.9em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    border: 1px solid silver;
    padding: 0.5em;
}
.highcharts-data-table tr:nth-child(even), .highcharts-data-table thead tr {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #eff;
}
.highcharts-data-table caption {
    display: none;
}

</style>

<div class="card" style="margin-bottom: 1.5rem;">
    <div class="card-header d-flex justify-content-between" style="background-color: white">
        {% if data %}
            <h4>{{ model_name }}</h4>
        {% else %}
            <h5>{{ model_name }} | No data was found for given choices</h5>
        {%endif%}
    </div>
    <div class="card-body">
        <div id="{{ model }}-chart-container">
            <canvas id="{{ model }}-chart"></canvas>
        </div>
        <div id="chart"></div>
    </div>
</div>

<script>
var configPlotLines;
{% if model == 'sleep-problems' %}
    configPlotLines = [{
                color: '#90ed7d',
                dashStyle: 'dot',
                width: 2,
                value: 85,
                label: {
                    align: 'right',
                    style: {
                        fontStyle: 'italic'
                    },
                    text: 'Min sleep quality',
                },
                zIndex: 4
            },{
                color: '#434348',
                dashStyle: 'dot',
                width: 2,
                value: 370,
                label: {
                    align: 'right',
                    style: {
                        fontStyle: 'italic'
                    },
                    text: 'Min sleep time',
                },
                zIndex: 4
            },{
                color: '#7cb5ec',
                dashStyle: 'dot',
                width: 2,
                value: 480,
                label: {
                    align: 'right',
                    style: {
                        fontStyle: 'italic'
                    },
                    text: 'Max sleep time',
                },
                zIndex: 4
            },]
{% elif model == 'heartRate-problems' %}
    configPlotLines = [{
                color: '#DB7093',
                dashStyle: 'dot',
                width: 2,
                value: 60,
                label: {
                    align: 'right',
                    style: {
                        fontStyle: 'italic'
                    },
                    text: 'Min heart rate',
                },
                zIndex: 4
            },]
{% elif model == 'movement-problems' %}
        configPlotLines = [{
                color: '#f7a35c',
                dashStyle: 'dot',
                width: 2,
                value: 500,
                label: {
                    align: 'right',
                    style: {
                        fontStyle: 'italic'
                    },
                    text: 'Min steps',
                },
                zIndex: 4
            },]
{% endif %}
window['{{model}}'] = document.getElementById("{{model}}-chart-container");


    Highcharts.chart(window['{{ model }}'], {
        chart: {
            type: 'column'
        },
        title:{
          text:''
        },
        xAxis: {
            categories: [{% for date in unique_dates %}'{{ date }}',{% endfor %}],
            crosshair: true,
            title: {
                text: 'Dates'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rates'
            },
            plotLines: configPlotLines,
        },
        legend: {
            reversed: false,
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'top',
            symbolRadius: 3,
            itemStyle: {
                color: '#666',
                fontSize: '1rem',
                fontWeight: '400',
                fontFamily: '"Open Sans", Arial, sans-serif'
            }
        },
        credits:{
            enabled:false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px;">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true,
            backgroundColor: 'rgba(255,255,255,1)',
            zIndex: 100
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {% if model == 'sleep-problems' %}
        {
            name: 'Too Much Sleep',
            data: [{% for prob in too_much_sleep %}{{ prob }},{% endfor %}],
        },{
            name: 'Lack Of Sleep',
            data: [{% for prob in lack_of_sleep %}{{ prob }},{% endfor %}],
        },{
            name: 'Low Sleep Quality',
            data: [{% for prob in low_quality %}{{ prob }},{% endfor %}],
        },
        {% elif model == 'heartRate-problems'%}
        {
            name: 'Low Heart Rate',
            color: '#DB7093',
            data: [{% for prob in lowHR %}{{ prob }},{% endfor %}],
        },
        {% elif model == 'movement-problems' %}
        {
            name: 'Lack of Movement',
            color: '#f7a35c',
            data: [{% for prob in lackOfMovement %}{{ prob }},{% endfor %}],
        },
        {% endif %}
        ]
    });
</script>
